/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .thumbBox{
        width: 50%;
    }
    #nav{
        margin-right: 0;
    }
    nav .menuBox {
        margin-top: 19px;
    }
    .thumbBox.col-2 a{
        margin-left:0; 
    }
    .thumbBox.col-1 a{
        margin-right: 0;
    }
    #work-desc > section{
        width: 100%;
    }
    #work-desc{
        margin: 20px 0;
    }
    #work-text,#work-info{
        margin: 20px 0;
    }
    nav .logoBox {
    }
    footer .col{
        font-size: 12px;
    }
    .thumbBox a {
        margin-left: 20px;
    }

    #about .col-3-of-4{
        border: none;
    }

    #work-text, #work-info,.cast li, #work-text .client{
        width: 100%;
    }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    nav section{
        padding: 0;
    }
    #thumbWrap{
        margin-top: 100px;
    }
    .thumbBox.col-0 a,.thumbBox.col-2 a {
    margin-left: 0;
}
.thumbBox.col-1 a,.thumbBox.col-3 a {
    margin-right: 0;
}

    footer .col{
        font-size: 8px;
    }
    nav .social{
        display: none !important;
    }
    .thumbBox{
        width:50%;
    }
    nav .logoBox {
        background: url("../img/logoMini.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) ;
        width: 70px;
        height: 70px;
    }
    nav .menuBox {
        text-align: center;
        margin-top: 13px;
    }
    .msh{
        margin-top:10px;
        width:100% ;
    }
    #work-desc > section{
        width: 100%;
    }
    #work-desc{
        margin: 20px 0;
    }
    #work-text,#work-info{
        margin: 20px 0;
    }
    #nav {
        margin-right: 0;
    }
    #about .col-3-of-4{
        border: none;
    }
    #about .allCols > section#team li{
        width: 100%;
    }

    #work-text, #work-info,.cast li, #work-text .client{
        width: 100%;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .thumbBox{
        width: 99%;
    }
    .thumbBox a{
        margin: 0;
    }
    #content > section,nav section,footer {
        margin-right: 10px;
        margin-left: 10px;
    }
    .thumbBox a {
        margin-left: 0;
    }
}