@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeueLTStd-Roman.eot');
    src: url('../font/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('../font/HelveticaNeueLTStd-Roman.svg#Helvetica Neue') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/HelveticaNeueLTStd-Md.eot');
    src: url('../font/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeueLTStd-Md.woff') format('woff'),
        url('../font/HelveticaNeueLTStd-Md.ttf') format('truetype'),
        url('../font/HelveticaNeueLTStd-Md.svg#Helvetica Neue') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GiddyupStd';
    src: url('../font/GiddyupStd.eot');
    src: url('../font/GiddyupStd.eot?#iefix') format('embedded-opentype'),
        url('../font/GiddyupStd.woff') format('woff'),
        url('../font/GiddyupStd.ttf') format('truetype'),
        url('../font/GiddyupStd.svg#GiddyupStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Elementos*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
.menuLink{
    text-transform: uppercase;
}
#container {
    height: auto;
    margin: auto;
    position: relative;
    width: auto;
}

html, body {
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    display: block;
    clear: none;
    margin: 0;
    padding: 0;
}
body {
    background:  #fff;
    color:#333333;
    font-size:13px;
    text-align:center;
    margin:0;
    padding:0;  
    font-family:'Helvetica Neue', arial,sans-serif;
    display: flex;
    flex-direction: column;
    height: auto !important;
    min-height: 100vh;
    min-width: 300px;
}
.bold{
    font-weight: bold;
}
.centered {
    left: 50%;
    margin-left: -134px;
    margin-top: -146px;
    position: fixed;
    top: 50%;
}
header{
    background: none repeat scroll 0 0 #F8F8F7;
    left: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.header{
    width: 470px;
    margin:55px auto 30px;
}

.login{

}
ol,ul{
    list-style: none outside none;
}
.clr{
    clear: both;
    float: none !important;
}
#content {    
    position: relative;
    margin: 0 auto;
    min-width: 100%;
    -moz-box-flex: 1;
    flex: 1;
    width: 100%;
}
#content > section {
    margin: 130px 50px 20px;
}
h3{
    margin: 0 0 10px 0;
}
p{
    margin: 5px 0;
}
fieldset{
    text-align: left;
}
#white_full {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#white_box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    display: none;
    height: auto;
    left: 50%;
    margin-left: -146px;
    margin-top: -115px;
    padding: 20px;
    position: fixed;
    top: 30%;
    width: auto;
    z-index: 200;
}
input[type="text"], input[type="password"] {
    border: 1px solid #ACACAC;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-family: HelveticaNeue;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 4px 0px;
    vertical-align: middle;
    width: 200px;
}
label {
    display: block;
    line-height: 18px;
    margin: 0 10px 0 0;
    padding: 3px 10px 0 0;
    position: relative;
    text-align: left;
    width: 100px;
}
.btn {
    background-color: #7D7D7D;
    border: 1px solid #676767;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 5px;
    text-align: center;
    width: 100px;
}



/*MENU*/
nav{
    background:  rgba(255,255,255,0.7);;
    height: auto;
    position: fixed;
    top: 0;
    vertical-align: bottom;
    width: 100%;
    z-index: 10;
}
nav hr{
    border-bottom: 2px solid #000000;
    display: none;
}
nav section{
    border-bottom: 2px solid #000000;
    bottom: 0;
    margin: 20px 50px 0;
    padding-bottom: 20px;
    position: relative;
}
nav .social{
    display: inline-block;
}
.navIco{
    background: url("../img/social.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    margin: 0;
    position: relative;
    top: 6px;
    width: 39px;
    cursor: pointer;
}
#tweeterW{
    background-position: 0 -30px;
}
#facebookW{
    background-position: -40px -30px;
}
#mailW{
    background-position: -82px -30px;
}
#tweeterB{
    background-position: 0 0;
}
#facebookB{
    background-position: -44px 0;
}
#mailB{
    background-position: -89px 0;
}
nav .menuBox{
    float: right;
    margin-top: 9px;
    right: 0;
    text-align: left;
}
nav .logoBox {
    float: left;
    width: 277px;
    height: 60px;
    z-index: 10;
    background: url("../img/logoBlack.png") no-repeat;
}
nav .logoBox img{
    width: 100%;
}
.logoBoxsmall{
    width: 50px !important;
}
#menu {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-right: 8px;
    z-index:1000;
}
#menuIco{
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    margin-top: 0;
    text-align: center;
    width: 26px;
}
#menu:hover #nav{
  opacity: 0.9;
}
#nav {
    background: none repeat scroll 0 0 #000000;
    display: block;
    float: left;
    margin-top: 2px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 24px;
    transition: all 0.75s ease 0s;
    width: 140px;
    z-index: 2;
    -webkit-transition: all 0.75s;
}
#nav li:first-child{
   border-top:none; 
}
#nav li{
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 25px;
    border:1px solid transparent;
    border-bottom-width: 0 !important;
    border-top: 1px solid #fff;
    text-align: center;
}
#nav li:last-child{
    border-bottom-width: 1px  !important;
}
#nav li:hover{
background: #fff;
    color:#000;
    border:1px solid #000;
}
#nav li p{
    margin: 0;
    padding: 0 12px;
}
.borderEast{
    background: #000;
    position: fixed;
    height: 100%;
    width: 10px;
    right: 0;
    top: 0;
    z-index: 20;
}
.borderNord{
    background: #000;
    position: fixed;
    width: 100%;
    height: 10px;
    z-index: 20;
    top: 0;
}
.borderSouth{
    background: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 10px;
    z-index: 20;
}
.borderWest{
    top: 0;
    background: #000;
    position: fixed;
    left: 0;
    height: 100%;
    width: 10px;
    z-index: 20;
}
#galleryImages{
    text-align: left;
}
#Gallery .no-msh{
    width: 100%;
}
#galleryImages .item {
  position: relative;
  overflow: hidden;
}
.msh{
    margin-top:20px;
    width:calc(50% - 10px);
}
.itemBox .focus-button {
    background: url("../img/focus-arrow.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 26px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 26px;
    z-index: 1;
}
.itemBox:hover .focus-button {
    display: block;
}
.spacemsh{
   width: 1%;
}
#Gallery .itemBox{
    cursor: pointer;
   height: 100%;
    width: 100%;
}
#galleryImages .itemBox {
    
    height: 100%;
    overflow: hidden;
    width: 100%;
}
#Gallery .itemBox a > img {
    height: auto;
    width: 100%;
}
#galleryImages .item .itemBox img{
    width: 100%;
}
#Gallery .itemBox .video {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#Gallery .itemBox .videoLayout{
    background: url("../img/videoLayout.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
#Gallery .itemBox iframe{
    width: 100%;
    height: 100%;
}
/*MENU*/
#thumbWrap{
    text-align: left;
}
footer {
    padding-top: 10px;
    margin:0  50px;
    height: auto;
    border-top: 2px solid #000000;
}
footer hr {
    border-bottom: 2px solid #000000;
}
footer .col:first-child{
    width: 50%;
}
footer .col:last-child{
    text-align: right;
    width: 50%;
}
footer .col{
    font-size: 13px;
    margin-top: 5px; 
    text-align: left;
    width: 25%;
    float: left;
}
footer .social .navIco{
    top: 0;
}
.thumbBox{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition-duration: 0.7s;
    transition-property: left, right, top;
    width: 25%;
    margin-top: 20px;
    vertical-align: top;
    overflow: hidden;
}
.thumbBox > div > img{
    width: 100%;
    height: auto;
}
.thumbBox.col-0 a{
    margin-left:0; 
}
.thumbBox.col-3 a{
    margin-right:0; 
}
.thumbBox div{
    margin: 0 10px;
    position: relative;
    z-index: -1;
}
.thumbBox a{
    overflow: hidden;
    height: 100%;
    left: 0;
    margin: 0 10px;
    position: absolute;
    top: 0;
    width: auto;
}
.thumbBox a img{
    width: 100%;
    height: auto;
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.thumbBox:hover a img {
  width: 120%;
}
.thumbBox:hover .arrowRight,.thumbBox:hover .arrowLeft{
    display: block;
    cursor: pointer;
}
.arrowLeft{
    background: url("../img/arrowGallery.png") no-repeat scroll 0 0px transparent !important;
    height: 20px;
    width: 20px;
    left: 40%;
    bottom: 72px;
    position: absolute;
    z-index: 15;
}
.arrowRight{
    background: url("../img/arrowGallery.png") no-repeat scroll -20px 0 transparent !important;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 40%;
    bottom: 72px;
    z-index: 15;
}
.imagesList{
    width: 9900px;
    position: relative;
    transition: all 2s;
    -webkit-transition:all 2s;
    left: 0;
    
}
.imagesList li{
    display: inline;
    width: 260px;
}
#Gallery{
    height: auto;
    position: relative;
    width:  auto;
}
#work-desc{
    width: 100%;
    margin: 20px auto;
    font-size: 13px; 
    text-align: left;
}
#work-desc h1,#work-desc h2{
    font-size: 22px;
    font-weight: bold;
    margin: 0px 14px 6px 0;
}
#work-desc a{
    color:#4686e9;
}
#work-desc > section{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
#work-text{
    margin: 0 9px 0 0;
    line-height: 140%;
}
#work-text .client{
    border-top: 1px solid #000000;
    margin: 20px 0;
    padding-top: 10px;
    width: 50%;
}

#work-info{
    margin: 24px 10px;
    width: 50%;
}
.cast li {
    border-top: 1px solid #000000;
    line-height: 20px;
    padding: 5px 0 3px;
}
.cast li:last-child{
    border-bottom: 1px solid #000;
}
#lightBox{
    background-color:#fff; 
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: none;
}
.backgroundContainer{
    background-color:#fff; 
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#next-project {
    padding-left: 15px;
    padding-right: 18px;
    right: 0px;
    text-align: right;
}
#prev-project {
    left: 0px;
    padding-left: 18px;
    padding-right: 15px;
    text-align: left;
}
#next-project, #prev-project {
    background: none repeat scroll 0 0 #111111;
    color: #808080;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 15px !important;
    margin-top: -30px;
    padding: 27px 14px;
    position: fixed;
    top: 50%;
    z-index: 9000;
}
#prev-project span.iconfont {
    right: 0px;
    background-position:  0 0px;
}
#next-project span.iconfont, #prev-project span.iconfont {
    background: url("../img/arrowProjects.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 22px;
    height: 29px;
    position: absolute;
    top: 10px;
    width: 28px;
}
#next-project span.iconfont {
    left: 0px;
    background-position:  0 -36px;
}
#about .allCols > section{
    display: inline-block;
    text-align: left;
    vertical-align: top;
    min-width: 300px;
}
#about .allCols > section h1{
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 106%;
}
#about .allCols{
    max-width: 1400px;
    margin-right:auto !important;
    margin-left:auto !important;
}
#about #team ul .ball +h1{
    display: inline-block;
}
#about #team ul .ball{
    border-radius: 200px 200px 200px 200px;
    float: left;
    height: 7px;
    margin-right: 6px;
    margin-top: 5px;
    padding: 0 !important;
    vertical-align: top;
    width: 7px;
}
#about #team ul .ball.orange{
    background-color: #f49500;
}
#about #team ul .ball.pink{
    background-color: #d6004e;
}
#about #team ul .ball.blue{
    background-color: #5783c0;
}
#about #team ul .ball.calipo{
   background-color: #dedd00; 
}
#about #team ul{
    margin: 20px 0;
}
#about .allCols > section > article{
    padding: 0 20px;
}
#about .allCols > section#team li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 10px;
    min-height: 135px;
    float: left;
}
#about .allCols > section#team li h1 {
    margin: 0px;
}
#about .allCols > section#team li h2{
    margin: 0px;
    font-size: 14px;
}
#about .allCols > section#team li *{
    padding: 0 20px 0 0;
}
#about .col-3-of-4 img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#about #contact iframe{
    margin-bottom: 20px;
}
#about .col-3-of-4{
    border-right: 1px solid #ccc;
    width: 66%;
}
#about .col-1-of-4{
    width: 33%;
    display: inline-block;
}
#about #contact #contactList li{
    
}
#about #contact #contactList .icon{
    background: url("../img/contactIcons.png")no-repeat transparent;
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    width: 22px;
}
#about #contact #contactList .icon.mail{
    background-position: -55px 0;
}
#about #contact #contactList .icon.tel{
    background-position: 0 0;
}
#about #contact #contactList .icon.fb{
    background-position: -86px 0;
}
#about #contact #contactList .icon.tw{
    background-position: -29px 0;
}
#sb-info{
    display: none !important;
}
#sb-wrapper-inner{
    border:none !important;
}